h1{
  text-align: center;
  font-family: cursive;
}

#buttons{
  margin-left: 35%;
}

#header{

}

#main{
background-color: #F4F4F4;
height: 500px;
}

#footer{

}

#shopper, #matcher, #retailer{
  display: inline-block;
  height:250px;
  width: 250px;
  background-color: grey;
  color: white;
  font-family: cursive;
  font-size: 25px;
margin: 20px;
  text-align: center;
}
